<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= form_tag url_for(action: "create"), method: "post" do %>

  <%= label_tag 'email' %><br/>
  <%= text_field_tag 'Email' %>
  <br /> <br />

  <%= label_tag 'password' %><br/>
  <%= text_area_tag 'Mot de passe' %>
  <br /> <br />

  <%= submit_tag "Log in" %>

<% end %>