<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h4><%= @user.first_name + " " + @user.last_name %></h4>

			<p>Description :</p>
			<p><%= @user.description %></p>
			<br>
			<p>Email : <%= @user.email %></p>
			<p>Ville : <%= link_to @user.city.name, city_path(@user.city.id) %></p>
			<p>Age : <%= @user.age %> ans </p>